p {
  color: black;
}

.text1 {
  display: none;
  background-color: orange;
}

/* .text2 {
  display: none;
} */


.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.white-background {
  background-color: white;
}

.button #white {
  color: black;
}

.click-highlight {
  color: green;
}

.click-highlight #plain {
  background-color: white;
}

.click-highlight #highlighted {
  background-color: grey;
}